<ons-page>
    <ons-list>
        <ons-list-header>Menu</ons-list-header>
       <ons-list-item tappable ng-click="pageSplitter.toggle()">
           League Standings
        </ons-list-item>
    </ons-list>
    <ons-list>
        <ons-list-header>Competetion</ons-list-header>
        <ons-list-item tappable ng-click="pageSplitter.toggle()">
            <div class="left">
                <ons-input type="radio" name="categoryGroup" input-id="competition-all" checked></ons-input>
            </div>
            <label class="center" for="competition-all">All</label>
        </ons-list-item>
        <ons-list-item tappable ng-click="pageSplitter.toggle()">
            <div class="left">
                <ons-input type="radio" name="categoryGroup" input-id="competition-premier"></ons-input>
            </div>
            <label class="center" for="competition-premier">Premier League</label>
        </ons-list-item>
    </ons-list>
</ons-page>